# MinSAR dependencies  (georaster is for view_scatterplot)
opencv-python
#imageMagick
jupyter
georaster
natsort
contextily
natsort
rasterio       # this is for miaplpy but was not installed Nov 2023
jupyter-ai
