# MinSAR dependencies  (georaster is for view_scatterplot)
opencv-python
#imageMagick
jupyter
georaster
natsort
contextily
natsort
rasterio       # this is for miaplpy but was not installed Nov 2023
jupyter-ai
pulp           # needed for ISCE but was missing
pdf2image      # for create_html.py
netCDF4        # for nc4 files
asf_search
